body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden; }

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg); }

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite; }
  @media screen and (max-width: 750px) {
    .star {
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite; } }
  .star:nth-child(1) {
    --star-tail-length: 7.09em;
    --top-offset: 82.09vh;
    --fall-duration: 10.822s;
    --fall-delay: 4.373s; }
  .star:nth-child(2) {
    --star-tail-length: 7.49em;
    --top-offset: 95.28vh;
    --fall-duration: 9.902s;
    --fall-delay: 5.624s; }
  .star:nth-child(3) {
    --star-tail-length: 5.68em;
    --top-offset: 85.5vh;
    --fall-duration: 9.035s;
    --fall-delay: 9.976s; }
  .star:nth-child(4) {
    --star-tail-length: 6.32em;
    --top-offset: 38.4vh;
    --fall-duration: 11.636s;
    --fall-delay: 4.99s; }
  .star:nth-child(5) {
    --star-tail-length: 5.69em;
    --top-offset: 98.2vh;
    --fall-duration: 7.362s;
    --fall-delay: 1.388s; }
  .star:nth-child(6) {
    --star-tail-length: 5.39em;
    --top-offset: 52.58vh;
    --fall-duration: 7.298s;
    --fall-delay: 8.947s; }
  .star:nth-child(7) {
    --star-tail-length: 5.14em;
    --top-offset: 95.27vh;
    --fall-duration: 11.379s;
    --fall-delay: 1.661s; }
  .star:nth-child(8) {
    --star-tail-length: 7em;
    --top-offset: 61.23vh;
    --fall-duration: 7.638s;
    --fall-delay: 5.783s; }
  .star:nth-child(9) {
    --star-tail-length: 5.29em;
    --top-offset: 43.49vh;
    --fall-duration: 10.051s;
    --fall-delay: 6.425s; }
  .star:nth-child(10) {
    --star-tail-length: 5.2em;
    --top-offset: 22.5vh;
    --fall-duration: 11.108s;
    --fall-delay: 0.06s; }
  .star:nth-child(11) {
    --star-tail-length: 5.19em;
    --top-offset: 82.87vh;
    --fall-duration: 9.853s;
    --fall-delay: 8.114s; }
  .star:nth-child(12) {
    --star-tail-length: 6.13em;
    --top-offset: 38.29vh;
    --fall-duration: 8.822s;
    --fall-delay: 8.642s; }
  .star:nth-child(13) {
    --star-tail-length: 6.17em;
    --top-offset: 26.75vh;
    --fall-duration: 10.614s;
    --fall-delay: 3.432s; }
  .star:nth-child(14) {
    --star-tail-length: 6.45em;
    --top-offset: 37.27vh;
    --fall-duration: 9.699s;
    --fall-delay: 7.303s; }
  .star:nth-child(15) {
    --star-tail-length: 7.44em;
    --top-offset: 29.92vh;
    --fall-duration: 9.729s;
    --fall-delay: 4.414s; }
  .star:nth-child(16) {
    --star-tail-length: 7.41em;
    --top-offset: 97.21vh;
    --fall-duration: 6.878s;
    --fall-delay: 0.078s; }
  .star:nth-child(17) {
    --star-tail-length: 7.29em;
    --top-offset: 80.96vh;
    --fall-duration: 7.559s;
    --fall-delay: 5.886s; }
  .star:nth-child(18) {
    --star-tail-length: 5.67em;
    --top-offset: 35.24vh;
    --fall-duration: 9.525s;
    --fall-delay: 0.746s; }
  .star:nth-child(19) {
    --star-tail-length: 5.34em;
    --top-offset: 95.73vh;
    --fall-duration: 8.74s;
    --fall-delay: 3.911s; }
  .star:nth-child(20) {
    --star-tail-length: 5.4em;
    --top-offset: 71.32vh;
    --fall-duration: 8.541s;
    --fall-delay: 9.464s; }
  .star:nth-child(21) {
    --star-tail-length: 6.4em;
    --top-offset: 45.77vh;
    --fall-duration: 7.005s;
    --fall-delay: 2.641s; }
  .star:nth-child(22) {
    --star-tail-length: 5.99em;
    --top-offset: 9.8vh;
    --fall-duration: 10.423s;
    --fall-delay: 0.009s; }
  .star:nth-child(23) {
    --star-tail-length: 7.04em;
    --top-offset: 77.76vh;
    --fall-duration: 8.74s;
    --fall-delay: 9.608s; }
  .star:nth-child(24) {
    --star-tail-length: 6.19em;
    --top-offset: 92.95vh;
    --fall-duration: 10.057s;
    --fall-delay: 5.155s; }
  .star:nth-child(25) {
    --star-tail-length: 5.34em;
    --top-offset: 17.3vh;
    --fall-duration: 11.519s;
    --fall-delay: 0.084s; }
  .star:nth-child(26) {
    --star-tail-length: 5.71em;
    --top-offset: 66.34vh;
    --fall-duration: 11.534s;
    --fall-delay: 9.877s; }
  .star:nth-child(27) {
    --star-tail-length: 5.81em;
    --top-offset: 63.35vh;
    --fall-duration: 8.689s;
    --fall-delay: 5.025s; }
  .star:nth-child(28) {
    --star-tail-length: 6.85em;
    --top-offset: 70.05vh;
    --fall-duration: 10.85s;
    --fall-delay: 4.264s; }
  .star:nth-child(29) {
    --star-tail-length: 5.2em;
    --top-offset: 70.59vh;
    --fall-duration: 11.849s;
    --fall-delay: 7.548s; }
  .star:nth-child(30) {
    --star-tail-length: 7.27em;
    --top-offset: 79.2vh;
    --fall-duration: 8.493s;
    --fall-delay: 2.997s; }
  .star:nth-child(31) {
    --star-tail-length: 7.3em;
    --top-offset: 46.73vh;
    --fall-duration: 6.984s;
    --fall-delay: 3.185s; }
  .star:nth-child(32) {
    --star-tail-length: 6.61em;
    --top-offset: 85.23vh;
    --fall-duration: 6.207s;
    --fall-delay: 7.509s; }
  .star:nth-child(33) {
    --star-tail-length: 5.65em;
    --top-offset: 94.66vh;
    --fall-duration: 10.254s;
    --fall-delay: 4.32s; }
  .star:nth-child(34) {
    --star-tail-length: 7.49em;
    --top-offset: 29.94vh;
    --fall-duration: 8.789s;
    --fall-delay: 5.295s; }
  .star:nth-child(35) {
    --star-tail-length: 6.36em;
    --top-offset: 9.08vh;
    --fall-duration: 8.773s;
    --fall-delay: 2.323s; }
  .star:nth-child(36) {
    --star-tail-length: 6.18em;
    --top-offset: 91.73vh;
    --fall-duration: 10.865s;
    --fall-delay: 7.21s; }
  .star:nth-child(37) {
    --star-tail-length: 5.51em;
    --top-offset: 74.2vh;
    --fall-duration: 9.556s;
    --fall-delay: 1.479s; }
  .star:nth-child(38) {
    --star-tail-length: 5.94em;
    --top-offset: 51.46vh;
    --fall-duration: 9.108s;
    --fall-delay: 2.133s; }
  .star:nth-child(39) {
    --star-tail-length: 5.08em;
    --top-offset: 83.38vh;
    --fall-duration: 8.25s;
    --fall-delay: 9.376s; }
  .star:nth-child(40) {
    --star-tail-length: 6.78em;
    --top-offset: 19.03vh;
    --fall-duration: 11.378s;
    --fall-delay: 2.212s; }
  .star:nth-child(41) {
    --star-tail-length: 6.99em;
    --top-offset: 33.66vh;
    --fall-duration: 10.539s;
    --fall-delay: 1.859s; }
  .star:nth-child(42) {
    --star-tail-length: 5.87em;
    --top-offset: 45.73vh;
    --fall-duration: 7.67s;
    --fall-delay: 9.6s; }
  .star:nth-child(43) {
    --star-tail-length: 6.75em;
    --top-offset: 8.77vh;
    --fall-duration: 7.718s;
    --fall-delay: 4.794s; }
  .star:nth-child(44) {
    --star-tail-length: 6.02em;
    --top-offset: 30.18vh;
    --fall-duration: 6.761s;
    --fall-delay: 7.342s; }
  .star:nth-child(45) {
    --star-tail-length: 6.03em;
    --top-offset: 45.7vh;
    --fall-duration: 11.083s;
    --fall-delay: 5.499s; }
  .star:nth-child(46) {
    --star-tail-length: 6.9em;
    --top-offset: 0.72vh;
    --fall-duration: 7.98s;
    --fall-delay: 2.708s; }
  .star:nth-child(47) {
    --star-tail-length: 6.32em;
    --top-offset: 39.43vh;
    --fall-duration: 8.569s;
    --fall-delay: 8.047s; }
  .star:nth-child(48) {
    --star-tail-length: 6.09em;
    --top-offset: 49.18vh;
    --fall-duration: 11.812s;
    --fall-delay: 0.651s; }
  .star:nth-child(49) {
    --star-tail-length: 6.06em;
    --top-offset: 22.82vh;
    --fall-duration: 11.953s;
    --fall-delay: 4.542s; }
  .star:nth-child(50) {
    --star-tail-length: 7.46em;
    --top-offset: 98vh;
    --fall-duration: 11.417s;
    --fall-delay: 9.015s; }
  .star::before, .star::after {
    position: absolute;
    content: '';
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite; }
  .star::before {
    transform: rotate(45deg); }
  .star::after {
    transform: rotate(-45deg); }

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0); } }
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1; }
  70%, 80% {
    width: 0;
    opacity: 0.4; }
  100% {
    width: 0;
    opacity: 0; } }
@keyframes blink {
  50% {
    opacity: 0.6; } }

/*# sourceMappingURL=index.css.map */

